body {
  display: flex;
  background: #ff8561;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0em;
  left: 0;
  width: 200px;
  height: 100%;
  background: #d9d9d9;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.sidebar-button {
  width: 100%;
  padding: 10px;
  background: #8fb98e;
  border: none;
  outline: none;
  border-radius: 7px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.sidebar-button:hover {
  background: #70a070;
}

.food-list-container {
  position: fixed;
  top: 40px;
  left: 220px;
  bottom: 0;
  width: calc(100% - 200px);
  padding: 20px;
}

.food-list-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.food-list {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

.food-list li {
  display: flex;
  padding: 5px;
  font-size: 2.5rem;
  align-items: center;
  height: 80px;
  cursor: pointer;
  margin-bottom: 10px;
  background: #c7c7c7;
  flex-direction: column;
}

.food-name {
  font-size: 2.5rem;
}

.recipe-type {
  font-size: 1rem;
  color: #777777;
}
