* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background: #ff8561;
    margin-top: 50px;
    min-height: 100vh;
    padding: 20px;
}

#ingredientsContainer {
    margin-bottom: 10px;
}
  
.ingredientRow {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
  
.ingredientRow input {
    margin-right: 5px;
}

.foodTypeRow {
    display: flex;
    align-items: center;
}
  
.deleteButton {
    background-color: #C7c7c7;
    color: black;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    margin-left: 10px;
}
  
#ingredientList {
    list-style-type: none;
    padding-left: 0;
}
  
#ingredientList li {
    margin-bottom: 5px;
}
  
#preparationContainer {
    margin-bottom: 10px;
}

.preparationInput {
    width: 100%;
    height: 200px;
    resize: vertical;
    padding: 5px;
}
